# torchrun --nnodes=1 --nproc_per_node=1 --master_port=23432 scripts/train/train_acc_3d.py --config-name densetrack3dv2
# torchrun --nnodes=2 --nproc_per_node=8 --master_port=23432 scripts/train/train_acc_3d.py --config-name densetrack3dv2
defaults:
  - data:
data: [] 

model_name: "densetrack3dv2"
restore_ckpt: "../DELTA_densetrack3d/checkpoints/densetrack3d.pth"
ckpt_path: logdirs/densetrack3dv2

use_dense: True
freeze_fnet: false
freeze_corr4DCNN: false
freeze_temperal_attn: false
distribute_window: false
num_traj_groups: null
use_dino: ""
dino_size: "(32, 32)"
freeze_dino: False
use_deconv1: false
use_deconv2: false
use_anyup: False
use_merge_conv: False
merge_dino_method: "cat"
merge_dino_corr_method: "mask"
radius_corr: 3
stride_corr: 1
radius_supp: 3
stride_supp: 1

cycle_loss: False
cycle_loss_vis_th: 0.8
lambda_cycle: 0.1
use_pstudio: False
use_dr: False
dataset_repeats: "1"
use_po: False
point_semantic: ""
use_stereo4d: false

batch_size: 1
num_nodes: 1
num_workers: 10

bf16: false
mixed_precision: false

lr: 0.0002
# lr: 0.00005
wdecay: 0.00001
num_steps: 50000
# num_steps: 30000


evaluate_every_n_epoch: 4
save_every_n_epoch: 4
validate_at_start: false

save_freq: 500
traj_per_sample: 256

dataset_root: "None"

train_iters: 4
sequence_len: 24

eval_datasets:
  - tapvid_davis_first

num_virtual_tracks: 64
dont_use_augs: false
sample_vis_1st_frame: ""

sliding_window_len: 16
model_stride: 4

crop_size: [384, 512]
eval_max_seq_len: 1000

dH: 16
dW: 24
model: DenseTrack3DV2(
    stride=${model_stride},
    window_len=${sliding_window_len},
    add_space_attn=True,
    num_virtual_tracks=${num_virtual_tracks},
    model_resolution=(${crop_size[0]}, ${crop_size[1]}),
    flash=False,
    coarse_to_fine_dense=True,
    dH=${dH},dW=${dW},
    freeze_fnet=${freeze_fnet},
    freeze_corr4DCNN=${freeze_corr4DCNN},
    num_traj_groups=${num_traj_groups},
    use_dino="${use_dino}",
    dino_size="${dino_size}",
    freeze_dino=${freeze_dino},
    use_deconv1=${use_deconv1},
    use_deconv2=${use_deconv2},
    use_anyup=${use_anyup},
    use_merge_conv=${use_merge_conv},
    merge_dino_method="${merge_dino_method}",
    merge_dino_corr_method="${merge_dino_corr_method}",
    radius_corr="${radius_corr}",
    stride_corr="${stride_corr}",
    radius_supp="${radius_supp}",
    stride_supp="${stride_supp}",
    cycle_loss=${cycle_loss},
    point_semantic="${point_semantic}",
  )

accum_iter: 1
resume_from: null

lambda_2d: 50.0
lambda_d: 1.0
lambda_vis: 0.1
lambda_conf: 0.1
lambda_rigid_loss: null


hydra:
  verbose: True
  run:
    dir: ./${ckpt_path}